div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 260px;					
    height: 120px;					
    padding: 60px;				
    font: 20px Serif;		
    background-color: rgba(255,255,255,0.7);
    border-style: solid;
	border-width: thin;
    border-radius: 8px;			
    pointer-events: none;			
}

header{
background-color:rgb(139,197,231);
}

h1
{
	font-family: serif;
    font-size: 55px;
    text-align: center;
}

h2{
    font:'dancing-script';
    font-size: 40px;
    color:rgb(139,197,231);
  }
    
P1{
    font-size: 30px;
}
